[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
black = "*"
pytest = "*"
datetime = "*"
flask-restful = "*"
gunicorn = "*"
sphinx-rtd-theme = "*"
sphinx = "*"

[dev-packages]

[requires]
python_version = "3.9"
