<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self'">
    <title>Chum Sim</title>
    <link href="../styles/index.css" rel="stylesheet">
  </head>
  <body>
    <h2>CHUM SIM</h2>
    <hr id="title_break">

    <div class="tab">
        <button class="tablinks" id="defaultOpen">Character Creation</button>
        <button class="tablinks">Simulation</button>
    </div>

    <div id="Character Creation" class="tabcontent">
        <h3>Character Creation</h3>
        <p>WIP</p>
    </div>

    <div id="Simulation" class="tabcontent">
        <h3>Simulation</h3>
        <p>WIP</p> 
    </div>

    <script src="../scripts/renderer.js"></script>
  </body>
</html>
