@font-face {
    font-family: asul;
    src: url('../fonts/asul/Asul-Regular.ttf') format('truetype');
}

@font-face {
    font-family: orbitron;
    src: url('../fonts/orbitron/Orbitron-Regular.ttf') format('truetype');
}

@font-face {
    font-family: ubuntu;
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

:root {
    --sr_gold: #ebb531;
    --sr_red: #860f28;
    --sr_back_white: #ebe6e7;
    --sr_back_grey: #f4f0f2;
    --sr_table_black: #262526;
    --sr_table_grey: #59595b;
    --sr_text_white: #ffffff;
    --sr_text_black: #272425;
}

body {
    font-family: ubuntu;
    background-color: var(--sr_back_white);
}

h2 {
    font-family: orbitron;
    color: var(--sr_red);
}

.tab {
    overflow: hidden;
    border: 2px solid var(--sr_gold);
    background-color: var(--sr_table_black);
}

.tab button {
    background-color: var(--sr_table_black);
    color: var(--sr_gold);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover {
    background-color: var(--sr_table_grey);
}
.tab button.active {
    background-color: var(--sr_table_grey);
}

.tabcontent {
    background-color: var(--sr_table_grey);
    display: none;
    padding: 6px 12px;
    border: 2px solid var(--sr_gold);
    border-top: none;
    color: var(--sr_text_white);
}

/* Style the close button
.topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
} */

/* .topright:hover {color: red;} */